<footer class="bg-darker py-[3.2rem]">
  <div class="container">
    <div class="flex justify-between flex-col lg:flex-row items-center gap-10 mb-20">
      <h2 class="text-4xl sm:text-6xl font-roboto  2xl:text-8xl font-outline">Створюю простір в якому хочеться жити</h2>
      <a
        href="feedback.html"
        class="hover:bg-black hover:text-light transition-colors uppercase p-4 sm:p-6 2xl:p-8 text-black bg-light text-base md:text-xl w-full max-w-[27rem] text-center leading-none"
        >Заповнити форму</a
      >
    </div>
    <div class="flex flex-wrap max-xl:items-center max-xl:flex-col text-center gap-12 items-end justify-between">
      <p class="font-normal max-sm:text-base uppercase leading-[1.4] max-2xl:w-full">
        ©2023 BLINDER bureau. <br />
        ALL RIGHTS RESERVED.
      </p>
      <div class="flex flex-wrap items-center justify-center gap-y-3 gap-x-20">
        <a href="tel:+38 (095) 816 30 63" class="font-normal max-sm:text-base uppercase hover:underline">+38 (095) 816 30 63</a>
        <a href="mailto:info@archline.com.ua" class="font-normal max-sm:text-base uppercase hover:underline">info@archline.com.ua</a>
      </div>
      <div class="flex flex-wrap items-center justify-center gap-y-3 gap-x-20">
        <a href="#" target="_blank" class="font-normal max-sm:text-base uppercase hover:underline">instagram</a>
        <a href="#" target="_blank" class="font-normal max-sm:text-base uppercase hover:underline">facebook</a>
      </div>
    </div>
  </div>
</footer>
