<div>
  <div id="header-hover-area" class="fixed hidden left-0 top-0 w-full h-16 z-[99999]"></div>
  <header id="main-header" class="absolute w-full z-[9999]">
    <div class="container flex justify-between items-center gap-10 h-20 sm:h-[7.4rem] 2xl:h-[10.3rem]">
      <a href="/" id="header-logo" class="transition-all relative z-[999]">
        <img src="./img/blinder_logo.svg" alt="blinder_logo" class="sm:w-[9rem] 2xl:w-[12rem] w-20 h-12 sm:h-[5rem] 2xl:h-[7.8rem] object-contain" />
      </a>
      <nav
        class="ml-auto max-md:fixed max-md:right-0 max-md:top-0 max-md:bg-dark max-md:w-full max-md:translate-x-full max-md:transition-transform max-md:duration-700 max-md:will-change-transform max-md:h-screen"
        id="header-nav">
        <ul class="flex items-center justify-center h-full flex-col md:flex-row gap-14 2xl:gap-20">
          <li><a href="portfolio.html" class="uppercase text-white text-2xl md:text-xl 2xl:text-2xl hover:underline">портфоліо</a></li>
          <li><a href="about.html" class="uppercase text-white text-2xl md:text-xl 2xl:text-2xl hover:underline">Info</a></li>
          <li><a href="faq.html" class="uppercase text-white text-2xl md:text-xl 2xl:text-2xl hover:underline">F.a.q.</a></li>
          <li><a href="feedback.html" class="uppercase text-white text-2xl md:text-xl 2xl:text-2xl hover:underline">Запит</a></li>
        </ul>
      </nav>
      <button id="burger-button" class="ml-auto group relative z-[999] block md:hidden">
        <div class="relative flex h-[50px] w-[40px] transform items-center justify-center overflow-hidden">
          <div id="burger-inner" class="flex h-[20px] w-[35px] origin-center transform flex-col justify-between overflow-hidden transition-all duration-300">
            <div class="h-[2px] w-7 origin-left transform rounded-2xl bg-light transition-all duration-300"></div>
            <div class="h-[2px] w-7 transform rounded-2xl bg-light transition-all delay-75 duration-300"></div>
            <div class="h-[2px] w-7 origin-left transform rounded-2xl bg-light transition-all delay-150 duration-300"></div>

            <div id="burger-cross" class="absolute top-2.5 flex w-0 -translate-x-10 transform items-center justify-between transition-all duration-500">
              <div class="absolute h-[2px] w-7 rotate-0 transform rounded-2xl bg-light transition-all delay-300 duration-500"></div>
              <div class="absolute h-[2px] w-7 -rotate-0 transform rounded-2xl bg-light transition-all delay-300 duration-500"></div>
            </div>
          </div>
        </div>
      </button>
    </div>
  </header>
</div>
